/*body {*/
/*  !* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a6edd5+0,bbe6eb+100 *!*/
/*  background: #a6edd5; !* Old browsers *!*/
/*  background: -moz-linear-gradient(*/
/*          left,*/
/*          #a6edd5 0%,*/
/*          #bbe6eb 100%*/
/*  ); !* FF3.6-15 *!*/
/*  background: -webkit-linear-gradient(*/
/*          left,*/
/*          #a6edd5 0%,*/
/*          #bbe6eb 100%*/
/*  ); !* Chrome10-25,Safari5.1-6 *!*/
/*  background: linear-gradient(*/
/*          to right,*/
/*          #a6edd5 0%,*/
/*          #bbe6eb 100%*/
/*  ); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
/*  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6edd5', endColorstr='#bbe6eb', GradientType=1); !* IE6-9 *!*/
/*}*/

.navbar{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d6ecd7+0,bee5ee+54,b3afd8+100 */
background: #d6ecd7; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #d6ecd7 0%, #bee5ee 54%, #b3afd8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #d6ecd7 0%,#bee5ee 54%,#b3afd8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #d6ecd7 0%,#bee5ee 54%,#b3afd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6ecd7', endColorstr='#b3afd8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
box-shadow: 10px 5px 5px #b7a8d9;


}

.container {
  background-color: white;
}

.game-main-image {
  width: 100%;
  max-width: 300px;
}

/* .game-size {
  display: flex;
  flex-direction: row;
} */
.note-dice {
  padding: 10px;
}

.avis {
  background-color: rgba(255, 255, 255, 0.43);
}

.game-user {
  background-color: rgba(255, 255, 255, 0.43);
}

.profiles {
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}

.profiles a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 25%;
}

.profile {
  position: relative;
  left: 0%;
  transition: left 300ms;
}

.carousel-icon {
  position: absolute;
  top: 50%;
  padding: 10px;
  z-index: 1;
  transform: translateY(-50%);
  cursor: pointer;
}

.carousel-icon:hover {
  background: #000;
}

.carousel-icon:last-of-type {
  right: 0;
}

section img {
  margin: 10px;
}

i {
  color: #9025cd;
}

.white {
  color: #b7a8d9;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.fa-dice-d20 {
  font-size: 25px;
}

.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  padding: 5px;
}
.border-gradient-purple {
  border-image-source: linear-gradient(to left, #d6ecd7, #bee5ee, #b3afd8);
}

.note-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#onglet2 {
  display: none;
}
.plus-color{
  color: #BDE2ED;

}

.note-flex {
  justify-content: space-between;
  align-items: center;
}

.comment-flex{
  justify-content: space-between;
}

.note-setter .note-dice-active i {
  color: #9025cd!important;
}

.comment-avatar {
  margin: 0;
}

.comment-list {
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.tab-content {
  display: none;
}

.tab-content-active {
  display: block;
}

.tab-active {
  background: #DBC9FF;
  color: white;
}