nav li .fa-dice-d20 {
  color: #ffffff;
}

.container {
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(148,148,148,1);
  -moz-box-shadow: 0px 0px 13px 0px rgba(148,148,148,1);
  box-shadow: 0px 0px 13px 0px rgba(148,148,148,1);
  padding: 0em 2em 2em 2em;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  letter-spacing: 2px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: #8562cc;
  text-shadow: 2px 2px 0px #e3e3e3;
  text-transform: uppercase;
  font-weight: 500;
}

h3 {
  font-family: 'Raleway', sans-serif;
}

.game-main-image {
  width: 100%;
  max-width: 300px;
}

p, .card {
  font-family: "Noto Sans JP", "Helvetica", sans-serif;
}

/* .game-size {
  display: flex;
  flex-direction: row;
} */

.note-dice {
  padding: 10px;
}

.tab {
  font-family: 'Raleway', sans-serif;
}

.avis {
  background-color: rgba(255, 255, 255, 0.43);
}

.game-user {
  background-color: rgba(255, 255, 255, 0.43);
}

.profiles {
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}

.profiles a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 25%;
}

.profile {
  position: relative;
  left: 0%;
  transition: left 300ms;
}

.carousel-icon {
  position: absolute;
  top: 50%;
  padding: 10px;
  z-index: 1;
  transform: translateY(-50%);
  cursor: pointer;
}

.carousel-icon:hover {
  background: #000;
}

.carousel-icon:last-of-type {
  right: 0;
}

section img {
  margin: 10px;
}

/* i {
  color: #9025cd;
} */

.fa-dice-d20 {
  color: #9025cd;
}

.white {
  color: #b7a8d9;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.fa-dice-d20 {
  font-size: 25px;
}

.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  padding: 5px;
}
.border-gradient-purple {
  border-image-source: linear-gradient(to left, #d6ecd7, #bee5ee, #b3afd8);
}

.note-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#onglet2 {
  display: none;
}
.plus-color{
  color: #BDE2ED;

}

.note-flex {
  justify-content: space-between;
  align-items: center;
}

.comment-flex{
  justify-content: space-between;
}

.note-setter .note-dice-active i {
  color: #9025cd!important;
}

.comment-avatar {
  margin: 0;
  width: 50%;

}

.comment-list {
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.tab-content {
  display: none;
}

.tab-content-active {
  display: block;
}

.tab-active {
  background: #DBC9FF;
  color: white;
}

.comment-content{
  padding: 40px;
  background-color: #BFCDE0;
  border-bottom-right-radius: 80px 80px;
  border-top-left-radius: 80px 80px;
  border-top-right-radius: 80px 80px;
}

