div #form-toggle {
  display: none;
}

body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a6edd5+0,bbe6eb+100 */
  background: #a6edd5; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #a6edd5 0%,
    #bbe6eb 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #a6edd5 0%,
    #bbe6eb 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #a6edd5 0%,
    #bbe6eb 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6edd5', endColorstr='#bbe6eb',GradientType=1 ); /* IE6-9 */
}

nav {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d6ecd7+0,bee5ee+54,b3afd8+100 */
  background: #d6ecd7; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #d6ecd7 0%,
    #bee5ee 54%,
    #b3afd8 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #d6ecd7 0%,
    #bee5ee 54%,
    #b3afd8 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #d6ecd7 0%,
    #bee5ee 54%,
    #b3afd8 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6ecd7', endColorstr='#b3afd8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  box-shadow: 10px 5px 5px #b7a8d9;
}

.container {
  background-color: white;
  text-align: center;
}

.game-card {
  position: relative;
  width: 100%;
  height: 450px;
}

.no-gutters .game-card-content {
  padding-left: 10px;
}

.game-card .card-body {
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
}

