{% extends 'base.html.twig' %}

{% block title %}Ajout Jeux{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href=" {{ asset('css/new_game.css') }} ">
{% endblock %}
{% block body %}
    <h1>Nouveau Jeu</h1>
    <div class="form">

        {{ form_start(game_form) }}
        <div class="form-group">
            {{ form_widget(game_form) }}
            <input type="submit" value="Enregistrer">
        </div>
        {{ form_end(game_form) }}
    </div>

{% endblock %}
