{% extends 'base.html.twig' %}

{% block title %}Espace Client - HexaGames{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href=" {{ asset('css/login.css') }} ">
{% endblock %}
{% block body %}
    <div class="container">


        <div class="row">
            <div class="col mx-auto border-right">

                <div id="espaceClient">

                    <p>Espace Client</p>

                </div>

              {{ form_start(login_form) }}
              {{ form_widget(login_form) }}
                <input type="submit" value="Connexion">
              {{ form_end(login_form) }}

            </div>

            <div class="col mx-auto">

                <div id="espaceClient">

                    <p></p><br>

                </div>

                <form>
                    <div class="row">
                        <p class="pcompte mx-auto "> Pas encore de compte ?</p>
                    </div>

                    <div class="row col-md-12 mx-auto ">
                        <img class="imgcrcmpt" src="./images/test_splash_connexion.png" alt="Mon compte">
                    </div>

                    <div class="form-row col-md-12 btrnCree">
                        <button type="submit" class="btn bg-warning mx-auto font-weight-bold">Créer mon compte</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
{% endblock %}


    

    
   
