{% extends 'base.html.twig' %}
{% block  stylesheets %}
    <link rel="stylesheet" type="text/css" href=" {{ asset('css/settings.css') }} ">
{% endblock %}
{% block title %}Hello SettingsController!{% endblock %}

{% block body %}
    <h1>Mes paramètres</h1>

{{ form_start(form_settings) }}
    {{ form_widget(form_settings) }}
    <input type="submit" value="Enregistrer">
    {{ form_end(form_settings) }}
{% endblock %}
