{% extends 'base.html.twig' %}

{% block title %}Ma ludothèque{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href=" {{ asset('css/ludotheque.css') }} ">
{% endblock %}
{% block body %}

<main>

    <!-- ************* Article ************** -->

    <div class="row">

        <div class="aside col-3 rounded-top border border-white">
            <aside>

                <article>

                    <img class="imgjr rounded-lg" src="./images/ronaldo.jpg" alt="Ronaldo">

                    <div class="d-flex flex-row ">
                        <div class="alignement col-sm-2"> <img src="./images/hexagon.svg" alt="Hexagon"> </div>
                        <div class="titre col-sm-8"><p>Psuedo</p></div>
                    </div>

                    <div class="d-flex flex-row">
                        <div class="alignement col-sm-2"> <img src="./images/hexagon.svg" alt="Hexagon"> </div>
                        <div class="titre col-sm-8"><p>Age</p></div>
                    </div>

                    <div class="d-flex flex-row">
                        <div class="alignement col-sm-2"> <img src="./images/hexagon.svg" alt="Hexagon"> </div>
                        <div class="titre col-sm-8"><p>Ville</p></div>
                    </div>

                    <br>

                    <div class="d-flex flex-row">
                        <div class="alignement col-sm-2"> <img src="./images/2142221.svg" alt="Hexagon"></div>
                        <div class="titre col-sm-8"><p>Ma ludothéque</p></div>
                    </div>

                    <div class="d-flex flex-row">
                        <div class="alignement col-sm-2"> <img src="./images/2142221.svg" alt="Hexagon"></div>
                        <div class="titre col-sm-8"><p>Mes hexapotes</p></div>
                    </div>

                    <div class="d-flex flex-row">
                        <div class="alignement col-sm-2"> <img src="./images/2142221.svg" alt="Hexagon"></div>
                        <div class="titre col-sm-8"><p>Ou jouer ?</p></div>
                    </div>

                </article>

            </aside>

        </div>

        <!-- ************* Section ************** -->

        <div class="section col-8">

            <section>

                <h1>Ma Ludothéque</h1>

                <div class="row ludo">

                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./images/téléchargement.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Jeu 1</h5>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./images/téléchargement.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Jeu 2</h5>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./images/téléchargement.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Jeu 3</h5>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./images/téléchargement.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Jeu 4</h5>
                        </div>
                    </div>


                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./images/téléchargement.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Jeu 4</h5>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./images/téléchargement.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Jeu 5</h5>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./images/téléchargement.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Jeu 6</h5>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./images/téléchargement.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Jeu 7</h5>
                        </div>
                    </div>


                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./images/téléchargement.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Jeu 8</h5>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./images/téléchargement.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Jeu 9</h5>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./images/téléchargement.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Jeu 10</h5>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./images/téléchargement.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Jeu 11</h5>
                        </div>
                    </div>

                </div>


            </section>

        </div>

    </div>
    {% endblock %}

