{% extends 'base.html.twig' %}

{% block title %}Contact - Hexagames{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href=" {{ asset('css/contact.css') }} ">
{% endblock %}

{% block body %}
    <main>
        {{ form_start(contact_form) }}
        {{ form_widget(contact_form) }}
        {{ form_end(contact_form) }}
    </main>
{% endblock %}
