{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href=" {{ asset('css/user-profile.css') }} ">
{% endblock %}

{% block body %}

    <section>
        <h1>Ma ludothèque</h1>
        <div class="profiles">
            <i class="carousel-icon-left carousel-icon fa fa-chevron-left"></i>
            <a class="profile" href="#">
{#                <img src="{{ user.my_games }}" alt="" class="rounded-circle"/>#}
            </a>
            <i
                    class="carousel-icon-right carousel-icon fa fa-chevron-right"
            ></i>
        </div>

    </section>

    <section>
        <h1>Mes hexapotes</h1>
        <div class="profiles">
            <i class="carousel-icon-left carousel-icon fa fa-chevron-left"></i>
            <a class="profile" href="#">
                {#                <img src="{{ user.my_hexapotes }}" alt="" class="rounded-circle"/>#}
            </a>
            <i
                    class="carousel-icon-right carousel-icon fa fa-chevron-right"
            ></i>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/carousel.js') }}"></script>
{% endblock %}
